<%= stylesheet_link_tag "#{@base_url}/assets/fastForm.css" %>
<%= stylesheet_link_tag "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" %>
<%= setup_context :object => @subject %>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <div class="fastForm">
      <h4 class="fastTitle"><i class='bx bx-search-alt-2' ></i> FAST Subject Lookup</h4>
      <input class="form-control" type="text" id="search-input" placeholder="Enter search terms" style="width: 400px;">
      <div id="search-results"></div>
      <select id="queryIndex" class="queryIndex" name="queryIndex" required>
        <option value="suggestall">All</option>
        <option value="suggest11">Event</option>
        <option value="suggest55">Form/Genre</option>
        <option value="suggest51">Geographic</option>
        <option value="suggest50">Topical</option>
        <option value="suggest30">Uniform Title</option>
      </select>
      <small class="fastAbout"><a href="https://fast.oclc.org/searchfast/" target="_blank"><i class='bx bxs-info-circle' ></i> About FAST</a></small>
    </div>
  </div>
</div>

<%= form_for @subject, :as => "subject", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :subject, @subject do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "subject" %>
          <h2><%= I18n.t("subject.new_title") %>  <span class="label label-info"><%= I18n.t("subject._singular") %></span></h2>
          <br/>
          <%= render_aspace_partial :partial => "subjects/form", :locals => {:form => form} %>
          <div class="form-actions">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary"><%= I18n.t("subject._frontend.action.save") %></button>
              <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary createPlusOneBtn"><%= I18n.t("actions.save_plus_one") %></button>
            </div>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag "#{@base_url}/assets/fastLookup.js" %>
<%= javascript_include_tag "#{@base_url}/assets/fastInsert.js" %>

